<h2>Your Profile</h2>


	<%= @client.first_name %> <br>
	<%= @client.last_name %> <br>
	<%= @client.phone %> <br>
	<%= @client.email %> <br>

<table class="table">

	<th>
		Date
	</th>
	<th>
		Services
	</th>
	<th>
		Stylist
	</th>

	<% @client.appointments.each do |x| %>

		<tr>

			<td>
				<%= x.date %> AT <%= x.time %>
			</td>
			<td>
				<% x.services.each do |y| %> <%= y.name %> <% end %>
			</td>
			<td>
				<%= x.stylist.first_name %>
			</td>

		</tr>

	<% end %>

</table>


<%= link_to 'Sign Out', "/signout" %>
<br>
<%= link_to 'Create An Appointment', new_appointment_path %>