<h1>Make An Appointment</h1>

<%= form_for @appointment do |f| %>

	<%= f.label :date, "When?" %> <br>
	<%= f.date_field :date %>
	<br>
	<%= f.label :time, "At What Time?" %> <br>
	<%= f.time_field :time %>
	<br>
	<%= f.label :stylist_id, "Stylist" %> <br>
	<%= collection_check_boxes :schedule, :stylist_id, Stylist.all, :id, :first_name %>
	<br>
	<%= f.label :service_id, "Services" %> <br>
	<%= collection_check_boxes :appointment_services, :service_ids, Service.all, :id, :name %>
	<br>
	<%= f.submit "Schedule Appointment", class: "btn" %>

<% end %>
