<h1>Make An Appointment</h1>

<%= form_for @appointment do |f| %>

	<%= f.label :date, "When?" %> <br>
	<%= f.date_field :date %>
	<br>
	<%= f.label :time, "At What Time?" %> <br>
	<%= f.time_field :time %>
	<br>
	<% Stylist.all.each do |x| %> <br>
	  <%= radio_button_tag(:stylist, "#{x.id}") %>
	  <%= f.label :stylist, "#{x.first_name}" %>
	<% end %>
	<br>
	<br>
	<%= f.label :services, "Services" %> <br>
	<%= collection_check_boxes :appointment, :services, Service.all, :id, :name %>
	<br>
	<%= f.submit "Schedule Appointment", class: "btn" %>

<% end %>



