<h1>Your appointment</h1>
<%= current_client.first_name %>
<p>Your appointment is as follows:</p>
<p><%= l(@appointment.date, format: :default) %> <br> <%= l(@appointment.time, format: :default) %> </p> <br>
<p>For:<br><% @services.each do |x| %><%= x.name %><br> <% end %> </p> <br>
<p>With:<br><%= @stylist.first_name %> </p>